---

services:
  terraform:
    container_name: ${COMPOSE_PROJECT_NAME}_terraform
    image: ${DOCKER_REGISTRY}tfenv:${TFENV_IMAGE_TAG}
#    build:
#      dockerfile: automation/TFEnv/Dockerfile
#      args:
#        - TFENV_VERSION=${TFENV_VERSION}
#        - BASH_VERSION=${BASH_VERSION_TAG}
#    image: tfenv:${BASH_VERSION_TAG}-${TFENV_VERSION}
    user: ${MY_UID}:${MY_GID}
    environment:
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      AWS_SESSION_TOKEN: "${AWS_SESSION_TOKEN}"
      TFENV_TERRAFORM_VERSION: "${TFENV_TERRAFORM_VERSION}"
    env_file:
      - .env
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - ./${PROJECT_ROOT_DIR}:/project
      - $HOME/.aws:$HOME/.aws
      - $HOME/.ssh:$HOME/.ssh
      - $HOME/.gitconfig:$HOME/.gitconfig
      - $HOME/.terraformrc:$HOME/.terraformrc
      - $HOME/.terraform.d:$HOME/.terraform.d
      - $HOME/.config:$HOME/.config
      - $HOME/.cache:$HOME/.cache
    working_dir: ${DOCKER_WORKDIR}
    entrypoint: [ "tail", "-f", "/dev/null" ]
